.nav-bar {
  @include flexSpaceAround;
}
.header-logo {
  width: 10%;
  height: 50%;
}
.header-menu li a {
  @include flexSpaceAround;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--black-color);
}

.btn {
  background-color: var(--primary-color);
  color: var(--white-color);
  border: none;
  padding: 0 2.5rem;
  border-radius: 0.5rem;
  box-shadow: inset 0 0 0 0.2rem var(--primary-color);

  &:hover {
    background-color: var(--white-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    transition: 0.5s;
  }
}

#hero {
  @include FlexRowCenter;
  margin-top: 5rem;
}

#hero p {
  padding: 0;
}

.description-hero {
  @include FlexColumnCenter;
}

.hero-action {
  @include FlexRowCenter;
}

.description-hero-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 6rem;
  margin-bottom: 3rem;
}

.description-hero-heading svg {
  padding-top: 1rem;
  width: 63px;
  height: 63px;
}

.description-hero p {
  color: var(--gray-color);
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2rem 0;
}

.hero-action {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}

.image-hero {
  margin-left: 15rem;
}

.btn-hero {
  padding: 1.5rem 1.5rem;
  margin: 0 2rem 0 0;
}
.btn-hero i {
  color: var(--white-color);
}

.hero-action-description {
  padding: 0 2rem;
  margin: 0 2rem;
}

// snip
.snip {
  font-family: "Poppins", sans-serif;
  text-align: center;
  text-transform: uppercase;
  // font-weight: 500;
}
.snip * {
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1rem;
  overflow: hidden;
}
.snip a {
  padding: 0.3em 0;
  color: var(--black-color);
  position: relative;
  display: inline-block;
  // letter-spacing: 1px;
  margin: 0;
  text-decoration: none;
}
.snip a:before,
.snip a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip a:before {
  bottom: 100%;
  display: block;
  height: 3px;
  width: 100%;
  content: "";
  background-color: var(--orange-color);
}
.snip a:after {
  padding: 0.3em 0;
  position: absolute;
  bottom: 100%;
  left: 0;
  content: attr(data-hover);
  color: rgb(82, 75, 75);
  white-space: nowrap;
}
.snip li:hover a,
.snip .current a {
  transform: translateY(100%);
}
///////////////////

// our process section
.process {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.process-title {
  display: flex;
  flex-direction: column;
}
.process-heading {
  font-size: 5rem;
}
.process-description {
  color: var(--gray-color);
  font-size: 1.3rem;
}

.Daily-Standup {
  @include FlexColumnCenter;
}

.Daily-Standup-container {
  background-color: var(--lightPurple);
  padding: 1rem 4rem;
  border-radius: 0.5rem;
  &:hover {
    background-color: var(--cream-color);
    box-shadow: 5px 10px 18px #888888;
    transition: 2ms;
    transition-delay: 5ms;
    transition-timing-function: linear;
  }
}
.Daily-Standup i {
  background-color: var(--orange-color);
  padding: 2rem 2rem;
  border-radius: 0.5rem;
  font-size: 2.5rem;
  color: var(--white-color);
  margin-bottom: 1.5rem;
}
.Daily-Standup h3 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.Daily-Standup p {
  font-size: 1.3rem;
  font-weight: 300;
  margin-bottom: 2rem;
  color: var(--gray-color);
}

.Meeting {
  @include FlexColumnCenter;
}

.Meeting-container {
  background-color: var(--lightPurple);
  padding: 1rem 4rem;
  border-radius: 0.5rem;
  &:hover {
    background-color: var(--cream-color);
    box-shadow: 5px 10px 18px #888888;
    transition: 2ms;
  }
}

.Meeting i {
  background-color: var(--blue-color);
  padding: 2rem 2rem;
  border-radius: 0.5rem;
  font-size: 2.5rem;
  color: var(--white-color);
  margin-bottom: 1.5rem;
}

.Meeting h3 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.Meeting p {
  font-size: 1.3rem;
  font-weight: 300;
  margin-bottom: 2rem;
  color: var(--gray-color);
}

.Testing {
  @include FlexColumnCenter;
}

.Testing-container {
  background-color: var(--lightPurple);
  padding: 1rem 4rem;
  border-radius: 0.5rem;
  &:hover {
    background-color: var(--cream-color);
    box-shadow: 5px 10px 18px #888888;
    transition: 2ms;
  }
}

.Testing i {
  background-color: var(--red-color);
  padding: 2rem 2rem;
  border-radius: 0.5rem;
  font-size: 2.5rem;
  color: var(--white-color);
  margin-bottom: 1.5rem;
}

.Testing h3 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.Testing p {
  font-size: 1.3rem;
  font-weight: 300;
  margin-bottom: 2rem;
  color: var(--gray-color);
}

.mobile-app {
  margin: 25rem 0;
}
.mobile-features {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--white-color);
  width: 30%;
  margin-left: 45rem;
  padding: 5rem;
  h4 {
    color: var(--gray-color);
    font-weight: 400;
    font-size: 1.4rem;
  }
  h2 {
    font-size: 3rem;
  }
  p {
    color: var(--gray-color);
  }
}
.mobile-app-container {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: var(--lightPurple);
  max-width: 100%;
  height: 50vh;
}

.mobile-app-container img {
  max-width: 20%;
  position: absolute;
  left: 100px;
  top: -100px;
}

.features {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2rem;
  margin-top: 3rem;
}
.feature-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  i {
    background-color: var(--green-color);
    color: var(--white-color);
    padding: 0.5rem 0.5rem;
    font-size: 2rem;
    text-align: center;
    border-radius: 1rem;
  }
  h3 {
    font-size: 1rem;
    font-weight: 500;
    margin: 1rem 0;
  }
}

.feature-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  i {
    background-color: var(--aqua-color);
    color: var(--white-color);
    padding: 0.5rem 0.5rem;
    font-size: 2rem;
    text-align: center;
    border-radius: 1rem;
  }
  h3 {
    font-size: 1rem;
    font-weight: 500;
    margin: 1rem 0;
  }
}

// .offers {
//   @include FlexRowCenter;
// }

.offer-image img{
  height: 60%;
  width: 60%;
}

.offers-title{
 @include FlexRowCenter;
 font-size: 2.5rem;
}

.items-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 15rem;
}

.offer-item-1{
  background-color: var(--white-color);
  box-shadow: 5px 10px 18px #888888;
  padding: 1rem 3rem;
  border-left: 0.5rem solid var(--red-color);
  border-radius: 1rem;
  margin-bottom: 3rem;
  transition: transform 500ms ease-in-out 25ms;

  &:hover{
    cursor: pointer;
    transform: translateX(30px) translateY(0px);
  }

  h2{
    font-weight: 600;
    font-size: 1.5rem;
  }

  p{
    color: var(--gray-color);
  }
}

.offer-item-2{
  background-color: var(--white-color);
  box-shadow: 5px 10px 18px #888888;
  padding: 1rem 3rem;
  border-left: 0.5rem solid var(--blue-color);
  border-radius: 1rem;
  margin-bottom: 3rem;
  transition: transform 500ms ease-in-out 25ms;


  &:hover{
    cursor: pointer;
    transform: translateX(30px) translateY(0px);
  }

  h2{
    font-weight: 600;
    font-size: 1.5rem;
  }

  p{
    color: var(--gray-color);
  }
}

.offer-item-3{
  background-color: var(--white-color);
  box-shadow: 5px 10px 18px #888888;
  padding: 1rem 3rem;
  border-left: 0.5rem solid var(--green-color);
  border-radius: 1rem;
  margin-bottom: 3rem;
  transition: transform 500ms ease-in-out 25ms;

  
  &:hover{
    cursor: pointer;
    transform: translateX(30px) translateY(0px);
  }

  h2{
    font-weight: 600;
    font-size: 1.5rem;
  }

  p{
    color: var(--gray-color);
  }
}
